# Ignore global node_modules and build artifacts
**/node_modules/
**/dist/
**/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv files
/backend/.env

# OS and IDE junk
.DS_Store
Thumbs.db

# Docker volumes (optional - only if you generate any local files)
docker-volume/

# Editor folders
.vscode/
.idea/

# Ignore frontend public build if added later
/public/dist/
